{
    "host": "https://company.atlassian.net",
    "api_path": "/rest/api/2",
    "issue_path": "/issue",
    "user": "your@mail.com",
    "pass": "your jira pas",
    "git": {
        "branches": {
            "master": "master",
            "feature": "feature",
            "hotfix": "bugfix"
        }
    }
}