{
    "host": "https://company.atlassian.net",
    "api_path": "/rest/api/2",
    "issue_path": "/issue",
    "browse_path": "/browse",
    "user": "your@mail.com",
    "password": "your jira pas",
    "branch": {
        "master": "master",
        "prefixes": {
            "Feature": "feature",
            "Bug": "bugfix",
            "Story": "story",
            "Tech Task": "tech_task",
            "Spike": "spike",
            "Implementation Task": "implementation_task",
            "Problem": "problem"
        }
    }
}
